@import './variables.styl';
@import '../_common/index.styl';

.tooltippy{
  &:before, &:after{
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  }

  &:after{
    font-family: 'Roboto', 'Helvetica', 'Segoe UI', Arial, sans-serif;
    color: tooltip-forecolor;
    background-color: tooltip-bgcolor;
    border: 0.4rem solid tooltip-forecolor;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
}
