@import './variables.styl';
@import '../_common/index.styl';

opposite-side = {
  right: left,
  left: right,
  top: bottom,
  bottom: top
};

.tooltippy{
  &:before, &:after{
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  }

  &:after{
    font-family: 'Roboto Slab', Georgia, Times, 'Times New Roman', serif;
    color: tooltip-forecolor;
    background-color: tooltip-bgcolor;
    padding: 0.7rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 0.3rem;
  }
}
