@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500');
@import './variables.styl';
@import '../_common/index.styl';

opposite-side = {
  right: left,
  left: right,
  top: bottom,
  bottom: top
};

.tooltippy{
  &:before, &:after{
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  }

  &:after{
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
    color: tooltip-forecolor;
    background-color: tooltip-bgcolor;
    padding: 0.7rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
