@import './variables.styl';
@import '../_common/index.styl';

.tooltippy{
  &:before, &:after{
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  }

  &:after{
    font-family: 'Raleway', 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
    color: tooltip-forecolor;
    background-color: tooltip-bgcolor;
    padding: 1rem 1.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 2rem;
    text-shadow: 0 0 0.2rem darken(tooltip-bgcolor, 40%);
  }
}
