@import './variables.styl';
@import '../_common/index.styl';

.tooltippy{
  &:after{
    font-family: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
    color: tooltip-forecolor;
    background-color: tooltip-bgcolor;
    padding: 0.7rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
  }
}
